body {

    background-image: url(../imagenes/imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.bienvenida{
    text-align:justify, center;
    font-size: 50px;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    border-radius: 50px;
    

}
.titulo{
    padding: 10px;
    font-size: 40px;
}
.formulario{
    background: rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0,0,0,0.568);
    color: whitesmoke


}
.ingresar{
    background: #222a3fda;
    padding: 10px;
    font-size: 16px;
    font-weight: 400! important;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);


}
.registrarse{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: white;

}
.registrarse a{
color:rgb(56, 213, 237);
text-decoration: none;
font-weight: 400;

}
.registrarse a:hover{
text-decoration: underline;    
}