body {
    background-image: url(../Ingreso/imagenes/imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.formulario{
    background: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    color: white


}
.ingresar{
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700! important;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
}
.h1{
    text-decoration: none;
      color: #ba8800;
    font-weight: 600;
}