{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="static/css/estilos_inicio.css" />   
<body>
    
        <div class="container">
            <div class="cuerpo mb-1 mt-2">
                <h1 class="display-3">Bienvenidos al sitio de la Biblioteca</h1>
                <p class="lead">Empezar a ingresar libros</p>
                <hr class="my-2">
                
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'libros' %}" role="button">Comenzar</a>
                </p>        
            </div>
        </div>    
    </div>
</body>
{% endblock %}