{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="shortcut icon" href="\static\imagenes\icono_libro.png" />
		<title>Registro</title>
		<!-- Bootstrap CSS v5.2.0-beta1 -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="\static\css\estilos_creacion.css" />
	</head>
	<body>
		
        <div class="container">
		
		</div>
		<div class="bienvenida row justify-content-center pt-2 mr-1">
		<center><img src="\static\imagenes\Logo.jpg" alt="" width="100px" height="100px"><h1>¡Créate un usuario!</h1></center>
        </div>
			<div class="container py-2 mt-3">
				<div class="cuadro mb-1 mt-2">
					<form method="post">
						{% csrf_token %} {{ form.as_p }}
						<input type="submit" value="Crear cuenta" class="btn btn-block ingresar">					
					</form>
				</div>	
                    <div class="back mb-1 mt-2">
                    <a href="{% url 'login' %}"><i class="fa-solid fa-circle-arrow-left"></i> Volver a pantalla de Login </a>
                    </div>
				
				</div>
			</div>
			<script
				src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
				integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
				crossorigin="anonymous"
			></script>

			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
				integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
				crossorigin="anonymous"
			></script>
            <script src="https://kit.fontawesome.com/417c3775f6.js" crossorigin="anonymous"></script>
		</div>
	</body>
</html>
