<form enctype="multipart/form-data" method="post">
    <script src="https://kit.fontawesome.com/417c3775f6.js" crossorigin="anonymous"></script>
    
    
    
        <div class="mb-3">
            
          <label for="" class="form-label">El proyecto está basado en la web de una biblioteca interactiva donde los usuarios pueden explorar el mundo de la literatura de una manera ágil y sencilla.
            Ademas, al mantener un registro de los usuarios, esto permitió a la biblioteca llevar un trackeo eficiente de los retiros de libros y controlar las devoluciones de manera digital.
            <br>
            <br>
            Aplicando los conocimientos de su basta experiencia en Python, los programadores Jonathan Miño, Juan Pereira y Juan Bancalari, diseñaron y ejecutaron el proyecto con altos estandares de calidad y testing.
            </label>
          <br>
          <br>
          <h4 class="card-title", style="font-size: 40px;">Nosotros</h4>
          <br>
          <h4 class="card-title", style="color:rgb(27, 140, 112);">Jonathan Miño</h4>
          <label for="" class="form-label">Licenciado en Sistemas, orientado a procesos y resultados.<br>
            La informatica lo atrapó desde pequeño y la programacion siempre le generó curiosidad.</label>
            <br>
            <label for="" class="form-label", style= "font-style: italic">"Lo mio son las bases de datos <i class="fa-solid fa-database", style="font-size: 25px;"></i> "</label>
            <br>
             
            <a href="https://www.linkedin.com/in/jonathan-mi%C3%B1o-45283579/"><i class="fa-brands fa-linkedin", style="font-size: 25px;"></i>LinkedIn</a>
          <br>
          <a href="https://github.com/Jonx76"><i class="fa-brands fa-github", style="font-size: 25px;"></i>Github</a>
          <label for="" class="form-label"></label> 
          
          <br>
          <br>
          <h4 class="card-title", style="color:rgb(27, 140, 112);">Juan Pereira</h4>
          <label for="" class="form-label">Estudiante con un futuro muy prometedor<br>
            Es emprendedor, perseverante y conciliador. En su tiempo libre programa aplicaciones para start-ups.      </label>
          <br>
          <label for="" class="form-label", style= "font-style: italic">"La posta es vivir en Argentina y ganar en dolares <i class="fa-solid fa-hand-holding-dollar", style="font-size: 25px;"></i> "</label>
          <br>
          
          <a href="https://github.com/juancito3110"><i class="fa-brands fa-github", style="font-size: 25px;"></i>Github</a>
          <label for="" class="form-label"></label>
          <br>
          <br>
          <br>
          <h4 class="card-title", style="color:rgb(27, 140, 112);">Juan Pedro Bancalari</h4>
          <label for="" class="form-label">Ingeniero Industrial que no sabe programar!.<br>
            Profesional en busqueda de conocimientos en informatica para aplicar a analisis de datos y KPI´s.</label>
            <br>
            <label for="" class="form-label", style= "font-style: italic">"Me costo banda el curso de Python! <i class="fa-brands fa-python", style="font-size: 25px;"></i> Pero le puse ganas"</label>
            <br>
            
            <a href="https://www.linkedin.com/in/jonathan-mi%C3%B1o-45283579/"><i class="fa-brands fa-linkedin", style="font-size: 25px;"></i>LinkedIn</a>
            <br>
            <a href="https://github.com/Juanbancalari"><i class="fa-brands fa-github", style="font-size: 25px;"></i>Github</a>   
            <br>
        
          
          
        </div>
        
        
        
        </form>