{% extends "base.html" %}

{% block titulo %} Contacto {% endblock %}

{% block contenido %}
   
<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">Datos de contacto</h4>
        
        <div class="card-body">
            
    
        {% include 'contacto/datoscontacto.html' %}
        </div>
        
                    
                </tr>
                <tr>
                    <td scope="row"></td>   
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
    
   
</div>

{% endblock %}

bs