<form enctype="multipart/form-data" method="post">



    <div class="mb-3">
      <label for="" class="form-label">Direccion de la Biblioteca 🏫: Av. Santa Fe 3542, Capital Federal, Buenos Aires.</label>  
      <br>
      <br>
      <label for="" class="form-label">Telefono de contacto 📞: +54 11 31532409</label>
      <br>
      <br>
      <label for="" class="form-label">Ingrese su correo electrónico para ser contactado 📧:</label>

      <input type="email"class="form-control" name="" id="" aria-describedby="helpId" placeholder="Correo electronico">
      <br>
      <label for="" class="form-label">Escriba su consulta a continuacion</label>
      <br>
      <textarea name="consulta" cols="80" rows="6">
Deseo...</textarea>
      <br>     
        <input type="checkbox" name="control" value="casa"><strong style="color:rgb(135, 149, 163)"> Acepto los terminos y condiciones para el tratamiento de mis datos personales</strong>
      
    </div>
    
    
    
    </form>