<form enctype="multipart/form-data" method="post">
  <script src="https://kit.fontawesome.com/417c3775f6.js" crossorigin="anonymous"></script>
  
  
  
      <div class="mb-3">
        <label for="" class="form-label">Direccion de la Biblioteca <i class="fa-solid fa-book"></i> : Av. Santa Fe 3542, Capital Federal, Buenos Aires.</label>
        <br>
        <a href="https://www.google.com/maps/place/Av.+Santa+Fe+3542,+C1425BGK+CABA,+Argentina/@-34.5862443,-58.4148821,19.04z/data=!4m5!3m4!1s0x95bcb57fccaddf89:0x5a7eda4667e53cd4!8m2!3d-34.5862692!4d-58.4146233"><i class="fa-solid fa-map-location-dot" style="font-size: 25px;"></i>  GoogleMaps</a>
        <br>
        <br>
        <label for="" class="form-label">Telefono de contacto <i class="fa-solid fa-phone"></i> : +54 11 31532409</label>
        <br>
        <br>
        <label for="" class="form-label">Puedes contactarnos, ademas, via email  <i class="fa-solid fa-envelope-circle-check"></i> : labibliodigital@gmail.com</label>
  
        
        
        
      </div>
      
      
      
      </form>