{% extends "base.html" %}

{% block titulo %} Lista de Socios {% endblock %}

{% block contenido %}
   
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearsocio' %}" role="button">Agregar nuevo socio</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Registro de socios</h4>
        
        <table class="table">
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for registro in registro %}
                <tr>
                    <td> {{ registro.nombre }} </td>
                    <td> {{ registro.apellido }} </td>
                    <td> {{ registro.telefono }} </td>
                    <td> {{ registro.email }} </td>
                    <td> <a name="" id="" class="btn btn-danger" href="{% url 'eliminarregistro' registro.nombre %}" role="button">Borrar <a/> </td> 
                    
                 
                </tr>


                {% endfor %}
                
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}

