{% extends "base.html" %}
{% load static %}
{% block titulo %} Consultas {% endblock %}
{% block contenido %}

<link rel="shortcut icon" href="static/imagenes/icono_libro.png">
<style>

    ul{
    background: #222a3fda;
    padding: 10px;
    font-size: 16px;
    font-weight: 400! important;
    color: whitesmoke;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    border-radius: 50px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);


    }
        

   
</style>
<body>
    <h1 style="text-align: center;">Contactanos!</h1>
    <ul>
        <div class="table-responsive">
            <div class="form-group mx-sm-4">
                <table id="tablaconsultas"> 
                    <br>   
                
                <form action="" class="formulario_consulta" method="post">
                    
                {% csrf_token %} 
                    
                {{ form }}
                    <button type="submit" id="btnEnviar" class="button" >Enviar consulta</button>
                        
                </form>
                
                
                {{mensaje}}
                
                <br>
                </table>
                <br>
            </div>
        </div>
    </ul>
</body>    
{% endblock %}
