<script src="https://kit.fontawesome.com/417c3775f6.js" crossorigin="anonymous"></script>
{% extends "base.html" %}

{% block titulo %} Agregar nueva consulta {% endblock %}

{% block contenido %}
   
<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Cuentanos ! <i class="fa-solid fa-ear-listen"></i></h4>
    </div>
    <div class="card-body">
        <h4 class="card-title">Deje aqui su consulta  </h4>

    {% include 'consulta/formconsulta.html' %}
    <input type="checkbox" name="control" value="casa"><strong style="color:rgb(135, 149, 163)"> Acepto los terminos y condiciones para el tratamiento de mis datos personales</strong>
    </div>
    
</div>

{% endblock %}