<form enctype="multipart/form-data" method="post">

    {% csrf_token %}
    {% for campo in formulario %}
  
      <div class="mb-3">
      <label for="" class="form-label">{{campo.label}}:</label>
  
      <input 
      type="{{campo.field.widget.input_type}}"
      class="form-control" 
      name="{{ campo.name }}" 
      id="" 
      aria-describedby="helpId" 
      placeholder="{{ campo.label }}" />
    
  </div>
  
    {% endfor %}
  
  <input name="" id="" class="btn btn-success" type="submit" value="Enviar Consulta">
  
  </form>